footer {
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(4.0px);
    border-top: 1px solid rgba(255, 255, 255, 0.18);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}